# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.CyberOxfordDictionaryApiRapper.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\source\repos\CyberOxfordDictionaryApiRapper\.idea\.idea.CyberOxfordDictionaryApiRapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
